* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #F6F6F6;
  overflow-x: hidden;
}

header {
  height: calc(100vw * 0.0479);
  width: 100vw;
  background-color: black;
  font-family: 'Roboto', sans-serif;
  position: fixed;
  top: 0;
  z-index: 100;
}

button {
  cursor: pointer;
  outline: none;
}

.name {
  color: #F0AD01;
  font-size: 1.146vw;
  line-height: calc(100vw * 0.0479);
  margin-left: 12.5vw;
  font-weight: 900;
  display: inline;
  text-decoration: none;
  cursor: pointer;
}

.link, .cart {
  color: white;
  font-size: 0.9375vw;
  line-height: calc(100vw * 0.0479);
  margin-left: 6.25vw;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  display: inline;
  text-decoration: none;
}

.link img, .cart img {
  position: relative;
  top: 0.729vw;
  height: 2.344vw;
  width: 2.343vw;
}

.circle {
  background-color: red;
  width: 1.042vw;
  height:1.042vw;
  border-radius: 100%;
  position: relative;
  top: -5.012vw;
  left: 85.8vw;
}

.circle p {
  color: white;
  position: relative;
  top: -1.8vw;
  left: 0.27vw;
  font-size: 0.729vw;
}

.menu_button {
  display: none;
}

.slider {
  margin-top: 4.78vw;
  height: calc(20.833vw * 1.522);
}

.slider img {
  height: calc(20.833vw * 1.522);
  width: 20.833vw;
  margin-right: 0;
}

#slide1 {
  margin-right: 0.026vw;
}

.hidden_slide {
  position: relative;
  left: 84.2vw;
  top: -31.91vw;
}

#slide9, #slide10 {
  position: relative;
  left: 168.4vw;
  top: -63.83vw;
}

#leftArrow {
  position: relative;
  height: 2.625vw;
  width: 2.625vw;
  top: -79vw;
  left: -41vw;
}

#rightArrow {
  position: relative;
  height: 2.625vw;
  width: 2.625vw;
  top: -79vw;
  left: 50.5vw;
}

.information {
  margin-top: 0.4073vh;
  height: calc(100vw * 0.289);
  background-color: #F5FA00;
}

#grid1 {
  width: 100vw;
  height: calc(100vw * 0.289);
}

#logo {
  position: relative;
  top: -28.125vw;
  left: 35vw;
  height: calc(27.239vw * 0.383);
  width: 27.239vw;
}

.best_comics {
  color: #1427B8;
  position: relative;
  top: -28.125vw;
  left: 40.5vw;
  font-size: 1.5625vw;
}

.info {
  color: #1427B8;
  font-weight: 900;
  position: relative;
  top: -27.604vw;
  left: 36vw;
  font-size: 1.25vw;
}

#goToCatalogue {
  background-color: #FC1919;
  border: none;
  color: white;
  height: calc(12.396vw * 0.277);
  width: 12.396vw;
  border-radius: 5px;
  font-size: 1.042vw;
  position: relative;
  top: -27.604vw;
  left: 43.7vw;
  margin-top: 0.511vw;
}

.bestsellers {
  margin-top: 4.092vw;
}

.bestsellers h1 {
  text-align: center;
  font-size: 2.5vw;
}

.products {
  margin-left: 22.5vw;
  margin-top: 2.08vw;
  display: flex;
  flex-direction: row;
}

.products div {
  margin-left: 0vw;
}

.product {
  margin-right: 1.51vw;
  display: flex;
  flex-direction: column;
}

.product_cover {
  height: calc(17.135vw * 1.52);
  width: 17.135vw;
}

.product_name {
  font-size: 1.25vw;
  margin-top: 0.156vw;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.product_name:hover {
  text-decoration: underline;
}

.product_price {
  font-size: 1.25vw;
  color: #7D7D7D;
  margin-top: 0.26vw;
}

.addToCart1, .addToCart2 {
  width: 17.135vw;
  height: calc(17.135vw * 0.21);
  font-size: 1.25vw;
  border: none;
  background-color: #F0AD01;
  color: white;
  border-radius: 5px;
  margin-top: -0.613vw;
}

.newbies {
  margin-top: 3.073vw;
}

.newbies h1 {
  text-align: center;
  font-size: 2.5vw;
}

.addToCart2 {
  background-color: black;
}

.publishers {
  height: 15.364vw;
  background-color: #E5E5E5;
  margin-top: 9vh;
}

#grid {
  width: 100vw;
  height: 15.364vw;
  position: relative;
  z-index: 10;
}

.logos {
  display: flex;
  flex-direction: row;
}

#publishers_logo {
  position: relative;
  top: -10.208vw;
  left: 15vw;
  height: calc(16.875vw * 0.29);
  width: 16.875vw;
}

.publisher_logo {
  position: relative;
  top: -10.208vw;
  left: 25vw;
  height: 5.208vw;
  margin-right: 6.25vw;
}

.footer {
  margin-top: 7.864vw;
  background-color: #E6A500;
  height: 15.208vw;
  display: flex;
  flex-direction: row;
}

.footer_div {
  padding-top: 3.802vw;
  padding-left: 20.468vw;
  display: flex;
  flex-direction: column;
  color: white;
}

.footer_link {
  font-size: 0.9375vw;
  cursor: pointer;
  text-decoration: none;
  color: white;
}

.footer_link:hover {
  text-decoration: underline;
}

.footer h3 {
  font-size: 1.042vw;
}

.icons {
  margin-top: 0.511vw;
}

.icons a {
  margin-right: 2vw;
}

.icon {
  height: 2.083vw;
  width: 2.083vw;
}

.footer_div a {
  padding-bottom: 0.511vw;
}

.catalogue {
  margin-top: 9.206vw;
  text-align: center;
  font-size: 2.5vw;
}

.category {
  margin-top: 2.557vw;
  display: flex;
  flex-direction: row;
}

.before, .after {
  margin-left: 2.1875vw;
  margin-right: 2vw;
  height: 0.102vw;
  background-color: black;
  width: 43vw;
}

.after {
  margin-left: 2vw;
}

.category_name {
  margin-top: -1.125vw;
  font-size: 1.745vw;
}

.category_products {
  margin-left: 20vw;
  margin-top: 0.511vw;
  display: flex;
  flex-direction: row;
}

.first, .second {
  display: flex;
  flex-direction: row;
}

.product2 {
  margin-right: 1.51vw;
  display: flex;
  flex-direction: column;
}

.product2 img {
  width: 14.0625vw;
  height: calc(14.0625vw * 1.537);
}

.addToCart3 {
  margin-top: -0.718vw;
  height: calc(14.0625vw * 0.185);
  width: 14.0625vw;
  background-color: #F0AD01;
  color: white;
  border: none;
  border-radius: 0.26vw;
  font-size: 1.042vw;
}

.other_products {
  margin-top: 2.557vw;
  margin-left: 10vw;
  height: calc(20.052vw * 0.135);
  width: 20.052vw;
  background-color: #878787;
  color: white;
  border: none;
  border-radius: 0.26vw;
  font-size: 0.9375vw;
}

.left_picture {
  margin-left: 22vw;
  margin-top: 0.511vw;
  height: 7.8125vw;
  width: 7.8125vw;
}

.category_logos {
  display: flex;
}

.right_picture {
  margin-left: 11vw;
  margin-top: 1.432vw;
  height: 6.25vw;
  width: 6.25vw;
}

.before2, .after2 {
  margin-left: 2.1875vw;
  margin-right: 2vw;
  height: 0.102vw;
  background-color: black;
  width: 38.5vw;
}

.after2 {
  margin-left: 2vw;
}

.product_name2 {
  font-size: 1.041vw;
  margin-top: 0.153vw;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.product_name2:hover {
  text-decoration: underline;
}

.product_price2 {
  font-size: 1.041vw;
  color: #7D7D7D;
  margin-top: 0.256vw;
}

#wolverine {
  height: 5.208vw;
  width: 5.208;
  margin-top: 5vh;
}

#spider_man {
  margin-top: 1.278vw;
}

#iron_man {
  margin-top: 1.278vw;
  height: 6.25vw;
  width: 6.25vw;
}

.before3, .after3 {
  margin-left: 2.1875vw;
  margin-right: 2vw;
  height: 0.102vw;
  background-color: black;
  width: 37vw;
}

.after3 {
  margin-left: 2vw;
}

.prev_next {
  display: flex;
  flex-direction: row;
  margin-left: 70vw;
}

.prev, .next {
  text-decoration: none;
  color: black;
  font-size: 1.146vw;
  margin-top: -0.153vw;
}

.prev_img {
  height: 1.041vw;
  width: 1.041vw;
}

.divider {
  margin-top: -0.204vw;
  font-size: 1.2vw;
  margin-left: 0.5vw;
  margin-right: 0.5vw;
}

.product_information {
  display: flex;
  margin-top: 2.046vw;
}

.photos {
  display: flex;
}

.side_photos {
  display: flex;
  flex-direction: column;
  margin-left: 20vw;
}

.side_photo {
  height: calc(10.156vw * 0.769);
  width: 10.156vw;
  margin-top: 0.833vw;
}

.main_photo img {
  height: calc(22.187vw * 1.521);
  width: 22.187vw;
  margin-top: 0.833vw;
  margin-left: 0.833vw;
}

.description {
  margin-left: 2.552vw;
  display: flex;
  flex-direction: column;
}

.description h1 {
  color: #08003D;
  font-size: 1.875vw;
  margin-top: 0.511vw;
}

.code {
  font-size: 1.146vw;
  color: #A7A7A7;
  margin-top: -1.023vw;
}

.price {
  color: #08003D;
  font-size: 1.667vw;
}

.key_value {
  display: flex;
  margin-top: -1.023vw;
}

.keys p {
  color: #7A7A7A;
  font-size: 1.25vw;
  margin-bottom: -0.511vw;
}

.values {
  margin-left: 3vw;
}

.values p {
  font-size: 1.25vw;
  margin-bottom: -0.511vw;
}

.count {
  color: #7A7A7A;
  font-size: 1.25vw;
  margin-top: 2.557vw;
}

.itemsCount {
  height: calc(5vw * 0.531);
  width: 5vw; 
  border: 0.052vw solid #A3A3A3;
  outline: none;
  text-align: center;
  font-size: 1.042vw;
  margin-top: -0.256vw;
}

.addToCart4, .buy {
  height: calc(20.833vw * 0.1725);
  width: 20.833vw;
  border: none;
  background-color: #08003D;
  color: white;
  font-size: 1.042vw;
  margin-top: 2.556vw;
}

.buy {
  background-color: #454545;
  margin-top: 1.023vw;
}

.about {
  margin-left: 20vw;
  font-size: 1.25vw;
  margin-top: 0.078vw;
  margin-bottom: 0.078vw;
}

.similar_products_title {
  font-size: 1.875vw;
  text-align: center;
}

.similar_products {
  margin-left: 30.5vw;
  margin-top: 0.511vw;
  display: flex;
  flex-direction: row;
}

.similar_products img {
  height: calc(11.823vw * 1.541);
  width: 11.823vw;
}

.addToCart5 {
  height: calc(11.823vw * 0.176);
  width: 11.823vw;
  background-color: #08003D;
  color: white;
  border: none;
  border-radius: 0.26vw;
  font-size: 0.833vw;
  margin-top: -0.767vw;
}

.product_name3 {
  font-size: 0.99vw;
  margin-top: 0.153vw;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.product_name3:hover {
  text-decoration: underline;
}

.product_price3 {
  font-size: 0.99vw;
  color: #7D7D7D;
  margin-top: 0vh;
}

@media (max-width: 1700px) {
  .hidden_slide {
    left: 84.4vw;
    top: -31.97vw;
  }
}

@media (max-width: 1430px) {
  .hidden_slide {
    left: 84.55vw;
    top: -32vw;
  }
}

@media (max-width: 1400px) {
  .circle {
    left: 86.2vw;
  }
}

@media (max-width: 1290px) {
  .hidden_slide {
    left: 84.65vw;
    top: -32.1vw;
  }
}

@media (max-width: 1170px) {
  .prev, .next {
    margin-top: 0vw;
  }

  .hidden_slide {
    left: 84.8vw;
    top: -32.1vw;
  }

  .circle {
    left: 86.5vw;
  }
}

@media (max-width: 1040px) {
  .prev, .next {
    margin-top: 0.2vw;
  }

  .divider {
    margin-top: -0.104vw;
  }

  .hidden_slide {
    left: 84.95vw;
    top: -32.1vw;
  }
}

@media (max-width: 970px) {
  .hidden_slide {
    left: 85.05vw;
    top: -32.2vw;
  }

  .circle {
    left: 86.7vw;
  }
}

@media (max-width: 940px) {
  .prev, .next {
    margin-top: 0.4vw;
  }

  .divider {
    margin-top: 0.3vw;
  }
}

@media (max-width: 834px) {
  header {
    height: calc(100vw * 0.115);
  }

  .link {
    display: none;
  }

  .menu_button {
    background-color: black;
    border: none;
    display: block;
    margin-top: -11.2vw;
    margin-left: 87vw;
    display: flex;
    flex-direction: column;
  }

  .menu_button img {
    width: 4.5vw;
    height: calc(5.097vw * 0.1);
    margin-bottom: 0.5vw;
  }

  .cart img {
    left: -62.5vw;
    height: 5.396vw;
    width: 5.395vw;
    top: 1.729vw;
  }

  .name {
    margin-left: 40vw;
    font-size: 2.637vw;
    line-height: calc(100vw * 0.115);
  }

  .circle {
    height: 2.278vw;
    width: 2.278vw;
    left: 9.7vw;
    top: -11.5vw;
  }

  .circle p {
    top: -1.15vw;
    left: 0.54vw;
    font-size: 1.699vw;
    top: -1.2vw;
    left: 0.63vw;
  }

  .slider {
    margin-top: 11.5vw;
    height: calc(24.15vw * 1.522);
  }

  #leftArrow {
    height: 3.625vw;
    width: 3.625vw;
    top: -54vw;
    left: -48vw;
  }
  
  #rightArrow {
    height: 3.625vw;
    width: 3.625vw;
    top: -54vw;
    left: 40vw;
  }

  .hidden_slide {
    display: none;
  }

  .slider img {
    height: calc(24.15vw * 1.522);
    width: 24.15vw;
    margin-right: -0.1vw;
  }

  #slide1 {
    margin-right: 0.006vw;
  }

  .information {
    margin-top: 0.4073vw;
    height: calc(100vw * 0.396);
  }
  
  #grid1 {
    width: 100vw;
    height: calc(100vw * 0.396);
  }
  
  #logo {
    top: -40.125vw;
    left: 35vw;
    height: calc(28.239vw * 0.383);
    width: 28.239vw;
  }

  .best_comics {
    top: -41.125vw;
    left: 31.5vw;
    font-size: 2.913vw;
  }

  .info {
    font-weight: 900;
    top: -41.604vw;
    left: 23vw;
    font-size: 2.427vw;
  }
  
  #goToCatalogue {
    height: calc(21.844vw * 0.277);
    width: 21.844vw;
    border-radius: 5px;
    font-size: 1.941vw;
    top: -41.604vw;
    left: 37.7vw;
    margin-top: 0.511vw;
  }
  
  .bestsellers {
    margin-top: 4.092vw;
  }
  
  .bestsellers h1 {
    font-size: 4.369vw;
  }
  
  .products {
    margin-left: 13vw;
    margin-top: 2.08vw;
  }
  
  .products div {
    margin-left: 0vw;
  }
  
  .product {
    margin-right: 1.51vw;
  }
  
  .product_cover {
    height: calc(23.179vw * 1.518);
    width: 23.179vw;
  }
  
  .product_name {
    font-size: 2.427vw;
    margin-top: 0.156vw;
  }
  
  .product_price {
    font-size: 2.427vw;
    margin-top: 0.26vw;
  }
  
  .addToCart1, .addToCart2 {
    width: 23.179vw;
    height: calc(23.179vw * 0.209);
    font-size: 2.184vw;
    margin-top: -2vw;
  }
  
  .newbies {
    margin-top: 3.973vw;
  }
  
  .newbies h1 {
    font-size: 4.369vw;
  }

  .publishers {
    height: 20.631vw;
    margin-top: 4.603vw;
  }
  
  #grid {
    width: 100vw;
    height: 20.631vw;
  }
  
  #publishers_logo {
    top: -14vw;
    left: 6vw;
    height: calc(23.98vw * 0.25);
    width: 23.98vw;
  }
  
  .publisher_logo {
    top: -14.208vw;
    left: 16vw;
    height: 7.194vw;
    margin-right: 6.25vw;
  }

  .footer {
    margin-top: 7.864vw;
    height: 21.582vw;
  }
  
  .footer_div {
    padding-top: 3.035vw;
    padding-left: 12.468vw;
  }
  
  .footer_link {
    font-size: 1.918vw;
  }
  
  .footer h3 {
    font-size: 2.158vw;
  }
  
  .icons {
    margin-top: 0.511vw;
    margin-left: 2vw;
  }
  
  .icons a {
    margin-right: 2vw;
  }
  
  .icon {
    height: 3.597vw;
    width: 3.597vw;
  }
  
  .footer_div a {
    padding-bottom: 0.911vw;
  }

  .catalogue {
    margin-top: 14.206vw;
    font-size: 4.316vw;
  }
  
  .category {
    margin-top: 5.557vw;
  }
  
  .before, .after {
    margin-left: 2.1875vw;
    margin-right: 2vw;
    height: 0.102vw;
    background-color: black;
    width: 43vw;
  }
  
  .after {
    margin-left: 2vw;
  }
  
  .category_name {
    margin-top: -2.125vw;
    font-size: 3vw;
  }
  
  .category_products {
    margin-left: 11.5vw;
    margin-top: 0.511vw;
  }
  
  .product2 {
    margin-right: 1.51vw;
  }
  
  .product2 img {
    width: 23.980vw;
    height: calc(23.980vw * 1.537);
  }
  
  .addToCart3 {
    margin-top: -0.718vw;
    height: calc(23.980vw * 0.2);
    width: 23.980vw;
    border-radius: 0.26vw;
    font-size: 2.158vw;
  }

  .product_name2 {
    font-size: 2.158vw;
    margin-top: 0.153vw;
  }
  
  .product_price2 {
    font-size: 2.158vw;
    margin-top: 0.256vw;
  }
  
  .other_products {
    margin-top: 2.557vw;
    margin-left: 6.5vw;
    height: calc(20.052vw * 0.29);
    width: 27.697vw;
    font-size: 2vw;
  }

  .before2, .after2 {
    margin-left: 2.1875vw;
    margin-right: 2vw;
    height: 0.102vw;
    width: 32vw;
  }
  
  .before3, .after3 {
    margin-left: 2.1875vw;
    margin-right: 2vw;
    height: 0.102vw;
    width: 30vw;
  }

  .prev_next {
    margin-left: 70vw;
  }
  
  .prev, .next {
    font-size: 1.918vw;
    margin-top: -0.153vw;
  }
  
  .prev_img {
    height: 1.798vw;
    width: 1.798vw;
  }
  
  .divider {
    font-size: 1.918vw;
    margin-top: -0.2vw;
  }
  
  .product_information {
    margin-top: 2.046vw;
  }

  .side_photos {
    margin-left: 8vw;
  }
  
  .side_photo {
    height: calc(14.388vw * 0.769);
    width: 14.388vw;
    margin-top: 0.833vw;
  }
  
  .main_photo img {
    height: calc(30.575vw * 1.505);
    width: 30.575vw;
    margin-top: 0.833vw;
    margin-left: 0.833vw;
  }
  
  .description {
    margin-left: 2.552vw;
  }
  
  .description h1 {
    font-size: 2.877vw;
    margin-top: 0.511vw;
  }
  
  .code {
    font-size: 2.158vw;
    margin-top: -1.523vw;
  }

  .price {
    margin-top: 0.2vw;
    font-size: 2.398vw;
  }
  
  .key_value {
    margin-top: -1.023vw;
  }
  
  .keys p {
    font-size: 2.158vw;
    margin-bottom: -0.911vw;
  }
  
  .values {
    margin-left: 3vw;
  }
  
  .values p {
    font-size: 2.158vw;
    margin-bottom: -0.911vw;
  }
  
  .count {
    font-size: 2.158vw;
    margin-top: 2.557vw;
  }
  
  .itemsCount {
    height: calc(7.673vw * 0.594);
    width: 7.673vw;
    font-size: 1.918vw;
    margin-top: -0.256vw;
  }
  
  .addToCart4, .buy {
    height: calc(35.012vw * 0.144);
    width: 35.012vw;
    font-size: 2.038vw;
    margin-top: 2.556vw;
  }
  
  .buy {
    margin-top: 1.023vw;
  }
  
  .about {
    margin-left: 8vw;
    font-size: 1.918vw;
    margin-top: 1vw;
    margin-bottom: 0.078vw;
  }
  
  .similar_products_title {
    font-size: 2.877vw;
  }
  
  .similar_products {
    margin-left: 20.5vw;
    margin-top: 0.511vw;
  }
  
  .similar_products img {
    height: calc(17.985vw * 1.533);
    width: 17.985vw;
  }
  
  .addToCart5 {
    height: calc(17.985vw * 0.233);
    width: 17.985vw;
    border-radius: 0.5vw;
    font-size: 1.678vw;
    margin-top: -1.467vw;
  }
  
  .product_name3 {
    font-size: 1.798vw;
    margin-top: 0.153vw;
  }
  
  .product_price3 {
    font-size: 1.798vw;
  }
}

@media (min-width: 361px) and (max-width: 834px) {
  #fourth_product {
    display: none;
  }
}

@media (max-width: 780px) {
  .slider {
    margin-top: 11.5vw;
    height: calc(24vw * 1.522);
  }

  .slider img {
    height: calc(24vw * 1.522);
    width: 24vw;
    margin-left: -0.1vw;
  }
}

@media (max-width: 730px) {
  .slider {
    margin-top: 11.5vw;
    height: calc(24vw * 1.522);
  }

  .slider img {
    height: calc(24vw * 1.522);
    width: 24vw;
    margin-right: -0.15vw;
  }
}

@media (max-width: 630px) {
  .slider {
    margin-top: 11.5vw;
    height: calc(23.8vw * 1.522);
  }

  .slider img {
    height: calc(23.8vw * 1.522);
    width: 23.8vw;
    margin-right: -0.1vw;
  }

  .prev, .next {
    margin-top: 0.6vw;
  }

  .divider {
    margin-top: 0.5vw;
  }
}

@media (max-width: 530px) {
  .slider {
    margin-top: 11.5vw;
    height: calc(23.6vw * 1.522);
  }
  
  .slider img {
    height: calc(23.6vw * 1.522);
    width: 23.6vw;
    margin-right: -0.1vw;
  }

  .prev, .next {
    margin-top: 0.8vw;
  }

  .divider {
    margin-top: 0.7vw;
  }
}

@media (max-width: 460px) {
  .slider {
    margin-top: 11.5vw;
    height: calc(23.3vw * 1.522);
  }
  
  .slider img {
    height: calc(23.3vw * 1.522);
    width: 23.3vw;
    margin-right: -0.2vw;
  }

  .prev, .next {
    margin-top: 1.4vw;
  }

  .divider {
    margin-top: 0.9vw;
  }
}

@media (max-width: 410px) {
  .prev, .next {
    margin-top: 1.9vw;
  }

  .divider {
    margin-top: 1.8vw;
  }
}

@media (max-width: 370px) {
  .slider img {
    height: calc(23.3vw * 1.522);
    width: 23.3vw;
    margin-right: -0.25vw;
  }
}

@media (min-width: 361px) {
  .phone_info {
    display: none;
  }
}

@media (max-width: 360px) {
  header {
    height: calc(100vw * 0.181);
  }

  .menu_button {
    margin-top: -17.2vw;
    margin-left: 83vw;
  }

  .menu_button img {
    width: 6.66vw;
    height: calc(6.66vw * 0.125);
    margin-bottom: 0.7vw;
  }

  .cart img {
    left: -67.5vw;
    height: 8.333vw;
    width: 8.333vw;
    top: 2.729vw;
  }

  .name {
    margin-left: 30vw;
    font-size: 4.167vw;
    line-height: calc(100vw * 0.181);
  }

  #slide3, #slide4 {
    display: none;
  }

  .circle {
    height: 3.333vw;
    width: 3.333vw;
    left: 9.7vw;
    top: -18vw;
  }

  .circle p {
    font-size: 2.7vw;
    top: -0.8vw;
    left: 0.8vw;
  }

  .slider {
    margin-top: 18vw;
    height: calc(47vw * 1.47);
  }

  #leftArrow {
    height: 7.625vw;
    width: 7.625vw;
    top: -110vw;
    left: 1vw;
  }
  
  #rightArrow {
    height: 7.625vw;
    width: 7.625vw;
    top: -110vw;
    left: 78vw;
  }

  .slider img {
    height: calc(47vw * 1.47);
    width: 47vw;
    margin-right: -0.35vw;
  }

  #slide1 {
    margin-right: 0.006vw;
  }

  .information {
    margin-top: 0.4073vw;
    height: calc(100vw * 0.736);
  }
  
  #grid1 {
    display: none;
  }
  
  #logo {
    top: 1.3vw;
    left: 17vw;
    height: calc(66.111vw * 0.314);
    width: 66.111vw;
  }

  .best_comics {
    top: 1.125vw;
    left: 18.5vw;
    font-size: 5vw;
  }

  .info {
    font-weight: 900;
    top: 1.604vw;
    left: 5vw;
    font-size: 3.88vw;
  }
  
  #goToCatalogue {
    height: calc(38.056vw * 0.277);
    width: 38.056vw;
    border-radius: 5px;
    font-size: 3.333vw;
    top: 1.604vw;
    left: 29.7vw;
    margin-top: 0.511vw;
  }
  
  .bestsellers {
    margin-top: 4.092vw;
  }
  
  .bestsellers h1 {
    font-size: 6.66vw;
  }
  
  .products {
    margin-left: 10vw;
    margin-top: 2.08vw;
  }
  
  .products div {
    margin-left: 0vw;
  }
  
  .product {
    margin-right: 3.51vw;
  }
  
  .product_cover {
    height: calc(36.388vw * 1.527);
    width: 36.388vw;
  }
  
  .product_name {
    font-size: 3.611vw;
    margin-top: 0.156vw;
  }
  
  .product_price {
    font-size: 3.611vw;
    margin-top: 0.26vw;
  }
  
  .addToCart1, .addToCart2 {
    width: 36.388vw;
    height: calc(36.388vw * 0.209);
    font-size: 3.333vw;
    margin-top: -3.5vw;
  }
  
  .newbies {
    margin-top: 3.973vw;
  }
  
  .newbies h1 {
    font-size: 6.66vw;
  }

  .publishers {
    height: 116.666vw;
    margin-top: 9.603vw;
  }
  
  #grid {
    display: none;
  }

  .logos {
    flex-direction: column;
  }
  
  #publishers_logo {
    top: 5vw;
    left: 20vw;
    height: calc(55.55vw * 0.25);
    width: 55.55vw;
  }
  
  .publisher_logo {
    top: 6.208vw;
    left: 16vw;
    height: 15.888vw;
    width: 15.888vw;
    margin-top: 6vw;
    margin-left: 24vw;
  }

  #logo2 {
    width: 29.888vw;
    margin-left: 17vw;
  }

  #logo3, #logo4 {
    height: 16.666vw;
    width: 8.333vw;
    margin-left: 27.5vw;
  }

  #logo4 {
    width: 12.333vw;
    margin-left: 25.5vw;
  }

  #third_product {
    display: none;
  }

  .footer {
    margin-top: 7.864vw;
    height: 86.5vw;
    flex-direction: column;
  }
  
  .footer_div {
    padding-top: 2.035vw;
    padding-left: -32.468vw;
  }
  
  .footer_link {
    font-size: 3.611vw;
    text-align: center;
    margin-left: -10vw;
  }
  
  .footer h3 {
    font-size: 3.888vw;
    text-align: center;
    margin-left: -10vw;
  }
  
  .icons {
    margin-top: 0.511vw;
    margin-left: 13vw;
  }
  
  .icons a {
    margin-left: 5vw;
  }
  
  .icon {
    height: 6.111vw;
    width: 6.111vw;
  }
  
  .footer_div a {
    padding-bottom: 0.911vw;
  }

  .first, .second {
    flex-direction: column;
  }

  .first div, .second div {
    margin-bottom: 4vw;
  }

  .first {
    margin-right: 1vw;
  }

  .catalogue {
    margin-top: 23.206vw;
    font-size: 6.111vw;
  }
  
  .category {
    margin-top: 7.557vw;
  }
  
  .before, .after {
    margin-left: 2.1875vw;
    margin-right: 2vw;
    height: 0.102vw;
    background-color: black;
    width: 43vw;
  }
  
  .after {
    margin-left: 2vw;
  }
  
  .category_name {
    margin-top: -3.325vw;
    font-size: 5.555vw;
  }
  
  .category_products {
    margin-left: 11.5vw;
    margin-top: 0.511vw;
  }
  
  .product2 {
    margin-right: 1.51vw;
  }
  
  .product2 img {
    width: 36.111vw;
    height: calc(36.111vw * 1.537);
  }
  
  .addToCart3 {
    margin-top: -2.918vw;
    height: calc(36.111vw * 0.2);
    width: 36.111vw;
    border-radius: 0.86vw;
    font-size: 3.333vw;
  }

  .product_name2 {
    font-size: 3.611vw;
    margin-top: 0.153vw;
  }
  
  .product_price2 {
    font-size: 3.611vw;
    margin-top: 0.256vw;
  }
  
  .other_products {
    margin-top: 0.557vw;
    margin-left: 31.5vw;
    height: calc(34.166vw * 0.28);
    width: 34.166vw;
    font-size: 3vw;
    border-radius: 1vw;
  }

  .left_picture, .right_picture {
    display: none;
  }

  .before2, .after2 {
    margin-left: 2.1875vw;
    margin-right: 2vw;
    height: 0.102vw;
    width: 20vw;
  }
  
  .before3, .after3 {
    margin-left: 2.1875vw;
    margin-right: 2vw;
    height: 0.102vw;
    width: 18vw;
  }

  .hellboy {
    margin-top: 4vw;
  }

  .prev_next {
    margin-left: 25vw;
  }
  
  .prev, .next {
    font-size: 4vw;
    margin-top: -0.153vw;
  }
  
  .prev_img {
    height: 3vw;
    width: 3vw;
  }
  
  .divider {
    font-size: 3.333vw;
    margin-top: -0.2vw;
  }
  
  .product_information {
    margin-top: 2.046vw;
    flex-direction: column;
  }

  .side_photos {
    margin-left: 8vw;
    flex-direction: row;
  }

  #side2, #side3 {
    display: none;
  }

  .photos {
    flex-direction: column;
  }

  .side_photo {
    height: calc(26.488vw * 0.769);
    width: 26.488vw;
    margin-top: 0.833vw;
    margin-right: 2vw;
    position: relative;
    top: 84.5vw;
    left: 12.633vw;
  }
  
  .main_photo img {
    height: calc(54.722vw * 1.523);
    width: 54.722vw;
    margin-top: -20.833vw;
    margin-left: 20.833vw;
  }

  .desctop_info {
    display: none;
  }
  
  .description {
    margin-left: 20.833vw;
  }
  
  .description h1 {
    font-size: 6.111vw;
    margin-top: 16.911vw;
  }
  
  .code {
    font-size: 5vw;
    margin-top: -3.523vw;
  }

  .price {
    margin-top: -2.2vw;
    font-size: 5.555vw;
  }
  
  .key_value {
    margin-top: -4.023vw;
  }
  
  .keys p {
    font-size: 3.888vw;
    margin-bottom: -0.911vw;
  }
  
  .values {
    margin-left: 3vw;
  }
  
  .values p {
    font-size: 3.888vw;
    margin-bottom: -0.911vw;
  }
  
  .count {
    font-size: 3.888vw;
    margin-top: 5.557vw;
  }
  
  .itemsCount {
    height: calc(13.333vw * 0.52);
    width: 13.333vw;
    font-size: 3.888vw;
    margin-top: -0.256vw;
  }
  
  .addToCart4, .buy {
    height: calc(35.012vw * 0.16);
    width: 54.722vw;
    font-size: 3vw;
    margin-top: 2.556vw;
  }
  
  .buy {
    margin-top: 1.023vw;
  }
  
  .about {
    margin-left: 20vw;
    font-size: 3.611vw;
    margin-top: 1vw;
    margin-bottom: 0.078vw;
    position: relative;
    top: 20vw;
  }
  
  .similar_products_title {
    font-size: 5.277vw;
  }
  
  .similar_products {
    margin-left: 17.5vw;
    margin-top: 0.511vw;
  }
  
  .similar_products img {
    height: calc(29.166vw * 1.533);
    width: 29.166vw;
  }

  #sp3 {
    display: none;
  }
  
  .addToCart5 {
    height: calc(29.166vw * 0.219);
    width: 29.166vw;
    border-radius: 1.1vw;
    font-size: 2.777vw;
    margin-top: -3vw;
  }
  
  .product_name3 {
    font-size: 3.333vw;
    margin-top: 0.153vw;
  }
  
  .product_price3 {
    font-size: 3.333vw;
  }
}

@media (max-width: 340px) {
  .prev, .next {
    margin-top: 0.4vw;
  }
  .divider {
    margin-top: 1vw;
  }
}

@media (max-width: 330px) {
  .prev, .next {
    margin-top: 0.4vw;
  }
  .divider {
    margin-top: 1vw;
  }
}